<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <a href="./index.html">
      <img src="./assets/images/week3/logo.png" alt="">
    </a>
    <ul>
      <li><a href="./system.html">系列鏡框</a></li>
      <li><a href="">門市據點</a></li>
      <li><a href="">部落格</a></li>
      <li><a href="./qa.html">常見問題</a></li>
    </ul>
  </header>
  <div class="main">
    <%- contents %>
  </div>
  <footer class="footer">
    <div class="footer-main">
      <div class="footer-main-btn-box">
        <ul class="footer-main-btn-ul">
          <li><a href="./index.html">首頁</a></li>
          <li><a href="./system.html">系列鏡框</a></li>
          <li><a href="">門市據點</a></li>
          <li><a href="">部落格</a></li>
          <li><a href="./qa.html">常見問題</a></li>
        </ul>
        <span class="footer-main-btn-img">
                    <img src="./assets/images/week3/icon-fb.svg"  alt="fb">
                    <img src="./assets/images/week3/icon-ig.svg"  alt="ig">
                    <img src="./assets/images/week3/icon-line.svg"  alt="line">
                </span>
      </div>
      <div class="footer-main-tel">
        <img src="./assets/images/week3/icon-phone.svg" alt="tel">
        <a href="tel:+" class="footer-main-tel-text footer-main-tel-text-ml">0800-000-000</a>
      </div>
      <div class="footer-main-mail">
        <img src="./assets/images/week3/icon-mail.svg" alt="mail">
        <a href="mailto:" class="footer-main-mail-text footer-main-mail-text-ml">glasses@business.com</a>
      </div>
      <div class="footer-main-logo">
        <a href="./index.html">
          <img src="./assets/images/week3/logo.png" alt="logo">
        </a>
        <p class="footer-main-logo-text">Copyright © 2020 Glasses.All rights reserved.</p>
        <p><a href="">隱私權政策</a></p>
        <p><a href="">服務條款</a></p>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
