@media all and (max-width: 992px) {
  .main {

    &-text-box-w,
    &-classic-box,
    &-feat-box,
    &-custom-box,
    &-form-box-w {
      max-width: 768px;
      padding: 40px 0 40px 0;
    }

    // main-img-title
    &-img-title {
      &-box {
        .main-img-lg {
          display: none;
        }

        .main-img-ml {
          display: block;
        }
      }

      &-text-position {
        position: absolute;
        top: 44.285%;
        right: 5.078%;
      }
      &-subtitle {
        font: normal normal medium PingFang TC;
        font-size: 20px;
        line-height: 30px;
      }
      &-title {
        font: normal normal bold Noto Sans;
        font-size: 48px;
        line-height: 72px;
      }
    }

    // main-text
    &-text {
      &-title {
        font-size: 32px;
        line-height: 48px;
      }

      // main-text-subtitle-box
      &-subtitle-box {
        flex-wrap: wrap;
        margin-top: 8px;
        margin-left: 86px;
        margin-right: 86px;

        .box-w {
          max-width: 50%;
          margin-top: 32px;
        }

        li {
          img {
            height: 80px;
            width: 80px;
          }
          h3 {
            font: normal normal bold 24px/36px Noto Sans;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 8px;
          }
          p {
            font: normal normal normal 16px/24px Noto Sans;
            text-align: left;
            margin: 0 38px;
          }
        }
      }
    }

    &-classic-box-title {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 32px;
    }
    // main-classic-img-box
    &-classic-img-box {
      &-f + &-f {
        margin-top: 8px;
      }
      .img-w {
        width: 55%;
      }

      &-f-row-reverse {
        flex-direction: row;
      }
      .icon-w {
        width: 32px;
        min-height: 25px;
      }
      .icon-l-m {
        margin: 0 8px 0 30px;
      }

    }

    .classic-subtitle {
      font-size: 38px;
      line-height: 42px;
    }

    // main--feat-box
    &-feat-box {
      &-w {
        h2 {
          font-size: 32px;
          line-height: 48px;
        }
      }
      &-img {
        margin-top: 32px;

        .img-box {
          h3 {
            font-size: 32px;
          }
        }

      }
    }

    // main-custom-box
    &-custom-box {
      padding-bottom: 11px;
      &-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
      }

      .box-cards {
        flex-wrap: wrap;
        justify-content: center;

        .box-w {
          max-width: 330px;
          margin-bottom: 29px;
        }
      }
    }

    // main-form-box
    &-form-box {
      &-w{
        max-width: 450px;
      }

      &-title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 48px;
      }

      &-subtitle {
        font-size: 16px;
        line-height: 24px;
      }

      form .form-input-box {

        label {
          font-size: 14px;
          line-height: 21px;
        }
        input {
          line-height: 36px;
        }
        input, textarea  {
          font-size: 14px;
          line-height: 21px;
        }
      }

      form .form-btn {
        width: 210px;
        height: 36px;
      }
    }

  }
}
