.page-box {
  max-width: 1200px;
  margin: 0 auto;

  &-f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 156px;
    ul {
      display: inline;
    }

    li {
      border: 1px solid #000;
      padding: 10px 16px;
    }

    li:first-of-type, li:last-child {
      padding: 10px 12px;
    }
  }
}
