@import url(reset.css);
/*header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px;
  background-color: #AA0601; }
  .header img {
    width: 80px;
    height: 49px; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header li a {
    display: block;
    margin: 0 32px;
    font: normal normal normal Noto Sans;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none; }

/*header end*/
/*footer*/
.footer {
  background-color: #AA0601;
  padding: 36px 0 29px 0; }
  .footer-main {
    margin: 0 auto;
    padding: 0 43px;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-main-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-main-btn-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-main-btn-ul li a {
      display: block;
      margin: 0 24px;
      font: normal normal normal 16px/24px Noto Sans;
      color: #fff;
      text-decoration: none; }
    .footer-main-btn-ul li:first-of-type {
      margin-left: 0; }
  .footer-main-btn-img img {
    display: inline;
    margin-left: 32px;
    width: 48px;
    height: 48px; }
  .footer-main-btn-img img:first-child {
    margin-left: 0; }
  .footer-main-tel, .footer-main-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .footer-main-tel img, .footer-main-mail img {
      width: 44px;
      height: 44px; }
    .footer-main-tel a, .footer-main-mail a {
      text-decoration: none; }
    .footer-main-tel-text, .footer-main-mail-text {
      color: #fff;
      font: normal normal normal 36px/54px Roboto; }
  .footer-main-tel {
    margin-top: 18px; }
  .footer-main-mail {
    margin-top: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff; }
  .footer-main-tel-text-ml {
    margin-left: 17px; }
  .footer-main-mail-text-ml {
    margin-left: 12px; }
  .footer-main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px; }
    .footer-main-logo img {
      display: block;
      width: 80px;
      height: 49px; }
    .footer-main-logo p {
      font: normal normal normal 14px/21px Noto Sans;
      color: #fff; }
      .footer-main-logo p a {
        color: #fff;
        text-decoration: none; }
    .footer-main-logo p:last-child {
      margin-left: 62px; }
    .footer-main-logo-text {
      margin-left: 38px;
      margin-right: auto; }

/*footer end*/
/*main*/
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .main img.main-img-lg {
    display: block;
    position: relative; }
  .main img.main-img-ml {
    display: none;
    position: relative; }
  .main-img-title-text-position {
    position: absolute;
    top: 41.666%;
    right: 21.093%; }
  .main-img-title-subtitle, .main-img-title-title {
    color: #650300;
    text-align: right; }
  .main-img-title-subtitle {
    font: normal normal normal 36px/54px Noto Sans; }
  .main-img-title-title {
    font: normal normal bold 64px/96px Noto Sans; }
  .main-text-box-w, .main-classic-box, .main-custom-box, .main-form-box-w {
    max-width: 1200px;
    padding: 64px 0 80px 0;
    margin: 0 auto; }
  .main-form-box-w {
    max-width: 730px; }
  .main-text-box {
    background-color: #AA06010D; }
  .main .main-text-title {
    color: #650300;
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans; }
  .main-text-subtitle-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px; }
    .main-text-subtitle-box .box-w {
      max-width: 80%; }
    .main-text-subtitle-box li {
      display: inline; }
      .main-text-subtitle-box li img {
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 100px; }
      .main-text-subtitle-box li h3 {
        color: #650300;
        font: normal normal bold 24px/36px Noto Sans;
        text-align: center;
        margin-top: 40px; }
      .main-text-subtitle-box li p {
        font: normal normal normal 16px/24px Noto Sans;
        text-align: left;
        margin: 0 38px; }
  .main-classic-box-title {
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans;
    margin-bottom: 60px;
    color: #650300; }
  .main-classic-img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 30px; }
    .main-classic-img-box-f {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center; }
    .main-classic-img-box-f + .main-classic-img-box-f {
      margin-top: 32px; }
    .main-classic-img-box img {
      display: inline; }
    .main-classic-img-box .img-w {
      width: 55%; }
    .main-classic-img-box-f-row-reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .main-classic-img-box-subtitle-f {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main-classic-img-box .icon-w {
      width: 48px;
      min-height: 48px; }
    .main-classic-img-box .icon-l-m {
      margin: 0 8px 0 30px; }
    .main-classic-img-box .icon-r-m {
      margin: 0 8px 0 auto; }
    .main-classic-img-box .text-r-m {
      margin-right: 30px; }
  .main-classic-img-box.showImg-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-classic-img-box.showImg-ml {
    display: none; }
  .main .classic-subtitle {
    color: #AA0601;
    font: italic normal 900 48px/72px Roboto; }
  .main-classic-img-box + .main-classic-img-box {
    margin-top: 32px; }
  .main-feat-box {
    padding: 64px 0 80px 0;
    background-image: url("../images/week3/bg.png");
    background-repeat: no-repeat;
    background-position: center; }
    .main-feat-box-title {
      color: #fff;
      font: normal normal bold 48px/72px Noto Sans;
      text-align: center; }
    .main-feat-box-img {
      margin-top: 60px;
      text-align: center; }
      .main-feat-box-img .img-box-left, .main-feat-box-img .img-box-right {
        display: inline-block;
        width: 540px;
        height: 472px;
        margin: 0 15px;
        background-repeat: no-repeat;
        background-position: center; }
      .main-feat-box-img .img-box-left {
        background-image: url("../images/week3/product-8.png"); }
      .main-feat-box-img .img-box-right {
        background-image: url("../images/week3/product-9.png"); }
      .main-feat-box-img .img-box-left .img-box-white, .main-feat-box-img .img-box-right .img-box-white {
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .main-feat-box-img .img-box-white .img-title {
        color: #AA0601;
        font: normal normal bold 72px/108px Roboto; }
  .main-custom-box-title {
    color: #650300;
    font: normal normal bold 48px/72px Noto Sans;
    text-align: center;
    margin-bottom: 60px; }
  .main-custom-box .box-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .main-custom-box .box-cards .box-w {
      max-width: 255px;
      margin: 0 15px;
      border: 1px solid #DEE2E6; }
    .main-custom-box .box-cards .box-w img {
      width: 100%;
      height: 256px; }
    .main-custom-box .box-cards .box-w p {
      padding: 0 16px;
      font: normal normal normal 14px/21px Roboto; }
    .main-custom-box .box-cards .box-w p:first-of-type {
      margin-top: 14px;
      margin-bottom: 10px; }
    .main-custom-box .box-cards .box-w p:last-child {
      margin-top: 10px;
      margin-bottom: 15px;
      color: #707070; }
  .main-form-box {
    background-color: #AA06010D; }
    .main-form-box-title {
      margin-bottom: 24px;
      text-align: center;
      font: normal normal bold 48px/72px Noto Sans; }
    .main-form-box-subtitle {
      text-align: left;
      font: normal normal normal 20px/30px Noto Sans; }
    .main-form-box form .form-input-box * {
      display: block; }
    .main-form-box form .form-input-box label {
      font: normal normal normal 16px/24px Noto Sans; }
    .main-form-box form .form-input-box input {
      line-height: 50px; }
    .main-form-box form .form-input-box input, .main-form-box form .form-input-box textarea {
      background-color: #AA06010D;
      font: normal normal normal 16px/24px Noto Sans;
      width: 100%;
      padding: 14px 16px; }
    .main-form-box form .form-input-box input::-webkit-input-placeholder, .main-form-box form .form-input-box textarea::-webkit-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::-moz-placeholder, .main-form-box form .form-input-box textarea::-moz-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input:-ms-input-placeholder, .main-form-box form .form-input-box textarea:-ms-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::-ms-input-placeholder, .main-form-box form .form-input-box textarea::-ms-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::placeholder, .main-form-box form .form-input-box textarea::placeholder {
      opacity: 0.2; }
    .main-form-box .form-input-box + .form-input-box {
      margin-top: 16px; }
    .main-form-box .form-input-box:first-of-type {
      margin-top: 20px; }
    .main-form-box form .form-input-box-check {
      margin-top: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .main-form-box form .form-btn-box {
      margin-top: 64px;
      margin-bottom: 16px;
      text-align: center; }
    .main-form-box form .form-btn {
      width: 350px;
      height: 64px;
      cursor: pointer;
      background: #AA0601;
      color: #fff;
      border: none;
      outline: none; }

#boxCheck {
  margin: 2px; }

/*main end*/
.black {
  background-color: #000000; }

.red {
  background-color: #B75929; }

.none {
  display: none; }

.system-menu-box, .system-shop-box, .system-shop-box-choice {
  max-width: 1200px;
  margin: 0 auto; }

.system-menu-box-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC; }
  .system-menu-box-f li + li {
    border-left: 1px solid #DCDCDC; }
  .system-menu-box-f li a {
    text-decoration: none; }

.system-menu-box-f li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0; }
  .system-menu-box-f li .icon-w {
    width: 48px;
    height: 38px; }
  .system-menu-box-f li .icon-l-m {
    margin-right: 8px; }
  .system-menu-box-f li .subtitle {
    font: normal normal medium Roboto;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: 0;
    color: #000000; }
  .system-menu-box-f li p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background-color: #AA0601; }

.system-menu-img-box-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .system-menu-img-box-f img {
    width: calc(50% - 15px);
    height: 309px; }
  .system-menu-img-box-f img + img {
    margin-left: 30px; }

.system-shop-box {
  margin-top: 88px; }
  .system-shop-box-title {
    text-align: center;
    margin-bottom: 40px; }
    .system-shop-box-title h2 {
      font: normal normal medium Roboto;
      font-size: 42px;
      line-height: 63px;
      letter-spacing: 0;
      color: #000000; }
    .system-shop-box-title p {
      font: normal normal normal 32px/48px Noto Sans;
      letter-spacing: 0;
      color: #000000; }

.system-shop-box-choice {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .system-shop-box-choice.mb-200 {
    margin-bottom: 200px; }
  .system-shop-box-choice-f, .system-shop-box-choice-f-3 {
    margin: 0 15px 104px 15px; }
  .system-shop-box-choice-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(25% - 30px); }
    .system-shop-box-choice-f img {
      width: 100%;
      height: 164px; }
  .system-shop-box-choice-f-3 {
    width: calc(33.33% - 30px); }
    .system-shop-box-choice-f-3 img {
      width: 100%;
      height: 164px; }
  .system-shop-box-choice .total-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .system-shop-box-choice .total-f.f-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .system-shop-box-choice .total-f.f-column div {
        font-size: 18px;
        line-height: 30px; }
    .system-shop-box-choice .total-f div {
      font: normal normal medium Roboto;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0; }
    .system-shop-box-choice .total-f .price {
      color: #AA0601; }
  .system-shop-box-choice .color-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .system-shop-box-choice .color-f .box-w {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
    .system-shop-box-choice .color-f .box-w + .box-w {
      margin-left: 8px; }

.qa-img-box {
  position: relative; }
  .qa-img-box img {
    height: 304px; }
  .qa-img-box .title-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    left: 405px; }
    .qa-img-box .title-position span {
      font: normal normal bold 64px/80px Noto Sans;
      letter-spacing: 0;
      color: #000000;
      margin-right: 24px; }
    .qa-img-box .title-position img {
      width: 58px;
      height: 58px; }

.qa-box {
  max-width: 1200px;
  margin: 80px auto 264px 405px; }
  .qa-box h2 {
    font: normal normal bold 32px/63px Noto Sans;
    letter-spacing: 0;
    color: #000000; }
  .qa-box .qa-box-title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .qa-box .qa-box-title-box h3 {
      font: normal normal bold 20px/23px Noto Sans;
      letter-spacing: 0;
      color: #000000; }
    .qa-box .qa-box-title-box p {
      margin-left: 95px; }
    .qa-box .qa-box-title-box p:first-of-type {
      margin-top: 16px; }
    .qa-box .qa-box-title-box p:last-child {
      margin-bottom: 40px; }

.page-box {
  max-width: 1200px;
  margin: 0 auto; }
  .page-box-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 156px; }
    .page-box-f ul {
      display: inline; }
    .page-box-f li {
      border: 1px solid #000;
      padding: 10px 16px; }
    .page-box-f li:first-of-type, .page-box-f li:last-child {
      padding: 10px 12px; }

/*# sourceMappingURL=all.css.map */
