@import url(reset.css);
/*header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px;
  background-color: #AA0601; }
  .header img {
    width: 80px;
    height: 49px;
    margin-right: auto; }
  .header span {
    margin: 0 32px;
    font: normal normal normal Noto Sans;
    font-size: 20px;
    line-height: 30px;
    color: #fff; }
  .header span:last-child {
    margin-left: 32px; }

/*header end*/
/*footer*/
.footer {
  background-color: #AA0601;
  padding: 36px 0 29px 0; }
  .footer-main {
    margin: 0 auto;
    padding: 0 43px;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-main-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-main-btn-ul {
    margin-right: auto; }
    .footer-main-btn-ul li {
      display: inline;
      margin: 0 24px;
      font: normal normal normal 16px/24px Noto Sans;
      color: #fff; }
    .footer-main-btn-ul li:first-of-type {
      margin-left: 0; }
  .footer-main-btn-img img {
    display: inline;
    margin-left: 32px;
    width: 48px;
    height: 48px; }
  .footer-main-btn-img img:first-child {
    margin-left: 0; }
  .footer-main-tel, .footer-main-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .footer-main-tel img, .footer-main-mail img {
      width: 44px;
      height: 44px; }
    .footer-main-tel-text, .footer-main-mail-text {
      color: #fff;
      font: normal normal normal 36px/54px Roboto; }
  .footer-main-tel {
    margin-top: 18px; }
  .footer-main-mail {
    margin-top: 17px;
    padding-bottom: 16px;
    border-bottom: 1px solid #fff; }
  .footer-main-tel-text-ml {
    margin-left: 17px; }
  .footer-main-mail-text-ml {
    margin-left: 12px; }
  .footer-main-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 24px; }
    .footer-main-logo img {
      display: inline; }
    .footer-main-logo span {
      font: normal normal normal 14px/21px Noto Sans;
      color: #fff; }
    .footer-main-logo span:last-child {
      margin-left: 62px; }
    .footer-main-logo-text {
      margin-left: 38px;
      margin-right: auto; }

/*footer end*/
/*main*/
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .main img.main-img-lg {
    display: block;
    position: relative; }
  .main img.main-img-ml {
    display: none;
    position: relative; }
  .main-img-title-box {
    position: absolute;
    top: 41.666%;
    right: 21.093%; }
  .main-img-title-subtitle, .main-img-title-title {
    color: #650300;
    text-align: right; }
  .main-img-title-subtitle {
    font: normal normal normal 36px/54px Noto Sans; }
  .main-img-title-title {
    font: normal normal bold 64px/96px Noto Sans; }
  .main-text-box-w, .main-classic-box, .main-custom-box, .main-form-box-w {
    max-width: 1200px;
    padding: 64px 0 80px 0;
    margin: 0 auto; }
  .main-form-box-w {
    max-width: 730px; }
  .main-text-box {
    background-color: #AA06010D; }
  .main .main-text-title {
    color: #650300;
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans; }
  .main-text-subtitle-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 60px; }
    .main-text-subtitle-box .box-w {
      max-width: 80%; }
    .main-text-subtitle-box .box-w img {
      display: block;
      margin: 0 auto;
      height: 100px;
      width: 100px; }
    .main-text-subtitle-box div .box-card-title {
      color: #650300;
      font: normal normal bold 24px/36px Noto Sans;
      text-align: center;
      margin-top: 40px; }
    .main-text-subtitle-box div .box-card-subtitle {
      font: normal normal normal 16px/24px Noto Sans;
      text-align: left;
      margin: 0 38px; }
  .main-classic-box-title {
    text-align: center;
    font: normal normal bold 48px/72px Noto Sans;
    margin-bottom: 60px;
    color: #650300; }
  .main-classic-img-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-classic-img-box-f {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .main-classic-img-box img {
      display: inline; }
    .main-classic-img-box .img-w {
      width: 50%; }
    .main-classic-img-box .icon-w {
      width: 48px;
      min-height: 48px; }
    .main-classic-img-box .icon-l-m {
      margin: 0 8px 0 30px; }
    .main-classic-img-box .icon-r-m {
      margin: 0 8px 0 auto; }
    .main-classic-img-box .text-r-m {
      margin-right: 30px; }
  .main-classic-img-box.showImg-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-classic-img-box.showImg-ml {
    display: none; }
  .main .classic-subtitle {
    color: #AA0601;
    font: italic normal 900 48px/72px Roboto; }
  .main-classic-img-box + .main-classic-img-box {
    margin-top: 32px; }
  .main-feat-box {
    padding: 64px 0 80px 0;
    background-image: url("../images/week3/bg.png");
    background-repeat: no-repeat;
    background-position: center; }
    .main-feat-box-title {
      color: #fff;
      font: normal normal bold 48px/72px Noto Sans;
      text-align: center; }
    .main-feat-box-img {
      margin-top: 60px;
      text-align: center; }
      .main-feat-box-img .img-box-left, .main-feat-box-img .img-box-right {
        display: inline-block;
        width: 540px;
        height: 472px;
        margin: 0 15px;
        background-repeat: no-repeat;
        background-position: center; }
      .main-feat-box-img .img-box-left {
        background-image: url("../images/week3/product-8.png"); }
      .main-feat-box-img .img-box-right {
        background-image: url("../images/week3/product-9.png"); }
      .main-feat-box-img .img-box-left .img-box-white, .main-feat-box-img .img-box-right .img-box-white {
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .main-feat-box-img .img-box-white .img-title {
        color: #AA0601;
        font: normal normal bold 72px/108px Roboto; }
  .main-custom-box-title {
    color: #650300;
    font: normal normal bold 48px/72px Noto Sans;
    text-align: center;
    margin-bottom: 60px; }
  .main-custom-box .box-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .main-custom-box .box-cards .box-w {
      max-width: 255px;
      margin: 0 15px;
      border: 1px solid #DEE2E6; }
    .main-custom-box .box-cards .box-w img {
      width: 100%;
      height: 256px; }
    .main-custom-box .box-cards .box-w div {
      padding: 0 16px;
      font: normal normal normal 14px/21px Roboto; }
    .main-custom-box .box-cards .box-w div:first-of-type {
      margin-top: 14px;
      margin-bottom: 10px; }
    .main-custom-box .box-cards .box-w div:last-child {
      margin-top: 10px;
      margin-bottom: 15px;
      color: #707070; }
  .main-form-box {
    background-color: #AA06010D; }
    .main-form-box-title {
      margin-bottom: 24px;
      text-align: center;
      font: normal normal bold 48px/72px Noto Sans; }
    .main-form-box-subtitle {
      text-align: left;
      font: normal normal normal 20px/30px Noto Sans; }
    .main-form-box form .form-input-box * {
      display: block; }
    .main-form-box form .form-input-box label {
      font: normal normal normal 16px/24px Noto Sans; }
    .main-form-box form .form-input-box input {
      line-height: 50px; }
    .main-form-box form .form-input-box input, .main-form-box form .form-input-box textarea {
      background-color: #AA06010D;
      font: normal normal normal 16px/24px Noto Sans;
      width: 100%;
      padding: 14px 16px; }
    .main-form-box form .form-input-box input::-webkit-input-placeholder, .main-form-box form .form-input-box textarea::-webkit-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::-moz-placeholder, .main-form-box form .form-input-box textarea::-moz-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input:-ms-input-placeholder, .main-form-box form .form-input-box textarea:-ms-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::-ms-input-placeholder, .main-form-box form .form-input-box textarea::-ms-input-placeholder {
      opacity: 0.2; }
    .main-form-box form .form-input-box input::placeholder, .main-form-box form .form-input-box textarea::placeholder {
      opacity: 0.2; }
    .main-form-box .form-input-box + .form-input-box {
      margin-top: 16px; }
    .main-form-box .form-input-box:first-of-type {
      margin-top: 20px; }
    .main-form-box form .form-input-box-check {
      margin-top: 16px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .main-form-box form .form-btn-box {
      margin-top: 64px;
      margin-bottom: 16px;
      text-align: center; }
    .main-form-box form .form-btn {
      width: 350px;
      height: 64px;
      background: #AA0601;
      color: #fff;
      border: none;
      outline: none; }

#boxCheck {
  margin: 2px; }

/*main end*/

/*# sourceMappingURL=all.css.map */
